@model  IEnumerable<Academy.Core.Students.Student>  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
@if (!Model.Any())
{
    <p>No Stdents Found</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Collage</th>
            <th>Date of birth</th>
            <th>Mobile</th>
            <th>Graduation Year</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(student.FullName, "Edit", "Students", new { id = student.Id },null)   
                </td>
                <td>
                    @student.Collage
                </td>
                <td>
                    @student.BirthDate
                </td>
                <td>
                    @student.Mobile1
                </td>
                <td>
                    @student.GraduationYear
                </td>
            </tr>
        }
        </tbody>
    </table>
}
