@using Academy.Core.Enums
@model  Academy.Core.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Applicants</h2>


@Html.ActionLink("Create New ", "New", "Applicants", null, new { @class = "btn btn-primary pull-right" })

@using (Html.BeginForm("Search", "Applicants"))
{
    <div class="form-group">
        <div id="searchStudents" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

@if (!Model.Students.Any())
{
    <p>No Applicants Found</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {

                <tr>
                    <td>
                        @Html.ActionLink(student.FullName, "Edit", "Applicants", new { id = student.Id }, null)
                    </td>
                    <td>
                        @student.Code
                    </td>
                    <td>
                        @student.Mobile1
                    </td>
                    <td>
                        @student.Status
                    </td>
                    @if (student.Status != StudentStatus.Rejected && !student.IsBlackList)
                    {
                        <td class="text-center">

                            @Html.ActionLink("Accept", "UpdateStatus", "Applicants", new { id = student.Id, status = StudentStatus.Accepted }, new { @class = "btn btn-success", })
                            @Html.ActionLink("Rejected", "UpdateStatus", "Applicants", new { id = student.Id, status = StudentStatus.Rejected }, new { @class = "btn btn-danger", })
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            @Html.ActionLink("Accept", "UpdateStatus", "Applicants", new { id = student.Id, status = StudentStatus.Accepted }, new { @class = "btn btn-default not-active",id="acceptApplicant" })
                            @Html.ActionLink("Rejected", "UpdateStatus", "Applicants", new { id = student.Id, status = StudentStatus.Rejected }, new { @class = "btn btn-danger not-active", id = "rejectApplicant" })

                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
}

